@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco: #ffffff;
  --preto: #242323;
  --amarelo: rgb(247, 182, 85);
  --azul: rgb(67, 182, 211);
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
  background: var(--branco);
  color: var(--preto);
}

/* HEADER --------------------------------------------------- */
header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192);
}

nav {
  display: flex;
  width: 85%;
  margin-top: 10px;
}

div.box-logo {
  display: flex;
  align-items: center;
  flex: 1;
}

div.box-logo img {
  width: 120px;
  transition: 400ms;
}

div.box-logo img:hover {
  cursor: pointer;
}

div.box-navbar {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.box-navbar ul {
  list-style-type: none;
}

div.box-navbar li {
  float: left;
  margin: 0 15px;
}

div.box-navbar a {
  text-decoration: none;
  color: var(--preto);
  font-size: 17px;
  font-weight: 600;
}

div.box-navbar a::after {
  content: '';
  background-image: url('./icons/seta-para-baixo.png');
  background-size: 9px;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 5px;
  transition: transform 0.7s;
}

div.box-navbar a:hover::after {
  transform: rotate(180deg);
}

div.box-btn {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.estilo-btn {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 22px;
  transition: 300ms;
}

.estilo-btn:hover {
  background-color: var(--amarelo);
  cursor: pointer;
  transform: scale(105%);
}

/* SECTION SLIDE --------------------------------------------------- */
section.slide {
  width: 100%;
  height: 88vh;
  display: flex;
}

div.container-slide {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box-left-re {
  justify-content: center;
  align-items: start;
}

.box-left-re h2, h3 {
  margin: 6px 40px;
}

.box-left-re h2 {
  font-size: 40px;
  width: 80%;
}

.box-left-re p {
  width: 80%;
  font-size: 18px;
  text-align: justify;
  margin-left: 40px;
}

.box-left-re h3 {
  font-size: 20px;
}

.box-left-re button {
  margin: 30px 40px;
}

.box-right-re {
  justify-content: center;
  align-items: center;
}

.box-right-re img {
  width: 50%;
  margin: 10px 0;
  margin-top: -50px;
}

.box-right-re h2 {
  font-size: 25px;
  margin: 10px 0;
}

.box-right-re p {
  width: 85%;
  font-size: 18px;
  text-align: center;
}

.box-btn-slide {
  margin: 10px 0;
}

.box-btn-slide button {
  margin: 5px 5px;
}

.box-icon-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon-carrosel img {
  width: 14%;
  margin: 5px 10px;
  transition: 300ms;
}

.box-icon-carrosel img:hover {
  transform: scale(130%);
  cursor: pointer;
}

/* SECTION SOBRE --------------------------------------------------- */
section.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-sobre-externo {
  width: 50%;
  height: 100%;
}

.container-sobre {
  width: 100%;
  height: 50%;
  display: flex;
}

.container-img {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container-sobre img {
  width: 75%;
}

.container-sobre h4 {
  font-size: 20px;
  margin: 5px 10px;
}

.container-sobre p {
  width: 85%;
  font-size: 16px;
  margin: 5px 10px;
}

.container-sobre button {
  margin: 5px 10px;
}

/* RODAPÉ --------------------------------------------------- */
footer {
  width: 100%;
  height: 80vh;
  background-color: black;
}

nav.nav-bar-footer {
  width: 100%;
  height: 70%;
}

.container-links {
  width: 20%;
}

.box-title {
  width: 70%;
  border-bottom: 1px solid var(--branco);
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.container-links h5 {
  width: 50%;
  color: var(--branco);
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 4px;
}

.container-links ul {
  list-style-type: none;
  margin-left: 35px;
}

.container-links li {
  margin: 5px 0;
}

.container-links a {
  color: var(--branco);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 300ms;
}

.container-links a:hover {
  color: var(--amarelo);
  font-size: 16px;
}

.container-redes {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container-redes p {
  color: var(--branco);
  font-size: 18px;
  font-weight: bold;
}

.container-redes img {
  width: 50px;
}

.container-redes img:hover {
  cursor: pointer;
}

#logo-instagram {
  width: 31px;
}

#logo-twitter {
  margin-right: 40px;
  margin-left: -9px;
}

.container-logos {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logos p {
  color: var(--branco);
  font-size: 20px;
  font-weight: bold;
}

.container-logos img {
  width: 10%;
  margin-right: 70px;
  margin-left: 10px;
}

.container-logos img:hover {
  cursor: pointer;
}

#logo-programarte {
  width: 22%;
}

#logo-bicco {
  width: 10%;
}